 
 /*Style the website you made last week using CSS with the following requirements:
Use only external CSS file (no internal or inline styling)
Every element must be styled.
Create style rules using class, id, and element selectors*/
 
 
 body{
margin: 1rem 5rem;

    background-color:rgb(238, 234, 234);
}

h1{
    text-align: center;
    filter: drop-shadow(3px 3px 3px whitesmoke);
}

div {
    background-color: rgb(79, 133, 125);
    border-style: outset;
    border-color: silver;
    border-radius: 5px;

}

P {
    font-style: italic;
}


table, th, td {

    border: 1px solid;

    table { width: 100%};

    background-color:rgba(35, 78, 66, 0.417) ;

border-colour: black;

font-style: italic;


}

div:hover{
    background-color: aquamarine;
}